<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<table class="container table table-dark">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">PhotoUrl</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="col" th:each="user : ${listUsers}">
        <th scope="col" th:text="${user.id}"></th>
        <th scope="col" th:text="${user.name}"></th>
        <th scope="col" th:text="${user.lastname}"></th>
        <th scope="col" th:text="${user.urlPhoto}"></th>
        <th>
            <a th:href="@{/user/update/{id}(id=${user.id})}" class=" btn btn-primary"> Editar</a>
            <a th:href="@{/user/deleteuserauth/{id}(id=${user.id})}" class=" btn btn-danger"> Eliminar</a>
        </th>
    </tr>
    </tbody>
</table>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>


</body>
</html>